
#div_treeview_left{
    padding-left: 0px;
    padding-right: 0px;
}

#info-header-left{
    border-radius: 0px;
}


#left_tree_items{
    list-style: none;
    padding-left: 10px;
}

#left_tree_items li {
    width: fit-content;
    padding: 5px 5px 5px 5px;

}
#left_tree_items li:hover {

    color: #ffffff;
    background-color: #001f3f;
    cursor: pointer;
}
.span-margin-left{
    margin-left: 3px;
}

#maquinas_informacion_costos{
    padding-right: 0px;
    padding-left: 0px;
}
